<div id="sect1"> 
  <div> 
 <div class="container1">
    <form  class="forms"action="" method="post">   
        <div class="container">
          <label for="uname"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="uname" required>
    
          <label for="psw"><b>Address</b></label>
          <input type="text" placeholder="Enter Address" name="psw" required>
            
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
    
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
            
          <button  class="button" type="submit">Sign up</button>
          <div class="spans">
            <label style="color: black;">
              <input type="checkbox" checked="checked" name="remember"> Accept terms and policy
            </label>
            <label style="color: blue; font-weight: bolder;">
            </label>
          </div>
        </div>
    
        <div class="container">
            <span class="psw"> <a  [routerLink] = "'/login-details'"  href="#">SignIn?</a></span>
        </div>
        
      </form>
 </div>
</div>
</div>