<div id="sect1"> 
  <div class="main-continer">
    <nav>
      <ul>
        <li><a [routerLink] = "'/profileDetails'">Profile Details </a></li>
        <li><a [routerLink] = "'/profileInput'">Profile Input</a></li>
      </ul>
    </nav>
    <!-- profile cards  -->
      <div class="profile-details">
        <!-- image container -->
          <div class="image-container"> 
            <div class="card">
                  <img src="../../../assets/298951-walt-disney-mickey-mouse.jpg" alt="John" style="width:100%; border-radius: 10px; ">
                  <h3>HEMANT SHARMA</h3>
                     <p class="title">Prime Member</p>
                     <p>India</p>
                   <div style="margin: 24px 0;">
                     <a href="#"><i class="fa fa-dribbble"></i></a> 
                     <a href="#"><i class="fa fa-twitter"></i></a>  
                     <a href="#"><i class="fa fa-linkedin"></i></a>  
                     <a href="#"><i class="fa fa-facebook"></i></a> 
                  </div>
              <p><button>Contact</button></p>
          </div>
        </div> 
          <!-- details cotainer -->
          <div class="detils-container"> 
            <div class="first-container">
                    adfasd
            </div>
            <div class="second-container">
                  sdfsdffd
            </div>
          </div>
      </div>
    </div>
 
</div>


  
  <!-- <label style ="padding: 0 60px;" for="fname">Name </label>
  <label style ="padding: 0 60px;" for="lname">Email </label>zzzzzzzzzzz
  <label style ="padding: 0 60px;" for="id">ID </label>
  <div *ngFor="let data of contacts">
   <form> 
    
    <input type="text" id="fname" name="fname" value="data.name" >
    
    <input type="text" id="lname" name="lname" value="data.email">
   
    <input type="text" id = "id" [value] = "data.id" />
   </form>
  </div> -->